
.title-section {

    background-color: black;
    width: 100%;
    position: fixed;
    top: 0px
}

.title {

    color: aliceblue;
    text-align: center;
}


.searchBox-section {
  
    border: 2px solid red;
    text-align: center;
}