
.title-section {

    background-color: black;
    width: 100%;
    position: fixed;
    top: 0px
}

.title {

    color: aliceblue;
    text-align: center;
}


.searchBox-section {

    text-align: center;
    margin-top: 150px;
    border: 2px solid red;

}