* {
    margin: 0;
    padding: 0;
}

section {

    width: 100vw;
    height: 100vh;
    background-color: black;
    clip-path: polygon(88% 0, 13% 100%, 100% 76%, 100% 100%, 0 100%, 0 0);
    opacity: 0.8;
}

#video {

    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}


#app-name-div {

    position: fixed;
    top: 0px;
    left: 0px;
}


#app-snd-title-div {

    position: fixed;
    top: 300px;
    left: 175px;
}

#btt-section {

    position: fixed;
    margin: 0;
    padding: 0;
    bottom: 10px;
    right: -10px;
}

.deco-line-1 {

    position: fixed;
    margin: 0;
    padding: 0;
    left: 60px;
    top: 190px;
    width: 500px;
}

.deco-line-2 {

    position: fixed;
    margin: 0;
    padding: 0;
    left: 80px;
    top: 194px;
    width: 500px;
}




















/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {

    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    clip-path: polygon(88% 0, 13% 100%, 100% 76%, 100% 100%, 0 100%, 0 0);
}

#video {

    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}


#app-name-div {

    position: fixed;
    top: 0px;
    left: 0px;
}

#btt-section {

    position: fixed;
    bottom: 30px;
    right: 70px;
} */




