* {
    margin: 0;
    padding: 0;
}

#home-left-side-div {

    width: 100vw;
    height: 100vh;
    background-color: black;
    clip-path: polygon(88% 0, 13% 100%, 100% 76%, 100% 100%, 0 100%, 0 0);
    opacity: 0.8;
}


#home-logo-div {

    position: fixed;
    top: 0px;
    left: 0px;
}


#home-snd-title-div {

    position: fixed;
    top: 300px;
    left: 175px;
}

#home-btt-div {

    position: fixed;
    margin: 0;
    padding: 0;
    bottom: 10px;
    right: -10px;
}



















