* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#signinSignupForm-section {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #03a9f4;
    width: 100vw;
    transition: 0.5s;
}

#signinSignupForm-section.active {

    background: #f43648;
 }
 

#signinSignupForm-container {

    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
}

