
#login-btt, #signin-btt {

    width: 150px;
    height: 50px;
    cursor: pointer;
    margin-right: 20px;
    font-size: 30px;
    background-color: transparent;
    border: #ffd966 4px solid;
    color: white;
    font-family: 'Bebas Neue', cursive;
}

button#login-btt:hover, button#signin-btt:hover {

    color: black;
    background-color: white;
    box-shadow: 0 0 10px white;
    font-weight: bold;
}

