
#login-btt, #signin-btt {

    width: 150px;
    height: 50px;
    cursor: pointer;
    margin-right: 20px;
    font-size: 30px;
    background-color: transparent;
    border: hsl(9, 100%, 64%) 4px solid;
    color: hsl(9, 100%, 64%);
}

button#login-btt:hover, button#signin-btt:hover {

    color: azure;
    background-color: hsl(9, 100%, 64%);
    box-shadow: 0 0 10px hsl(9, 100%, 64%), 0 0 40px hsl(9, 100%, 64%), 0 0 80px hsl(9, 100%, 64%);
}

