@import "../constantsCSS.css";

#home-login-btt, #home-signin-btt {

    width: 150px;
    height: 50px;
    cursor: pointer;
    margin-right: 20px;
    font-size: 30px;
    background-color: transparent;
    border: var(--clr-yellow) 4px solid;
    color: var(--clr-white);
    font-family: var(--clr-thin-font);
}

button#home-login-btt:hover, button#home-signin-btt:hover {

    color: var(--clr-black);
    background-color: var(--clr-white);
    box-shadow: 0 0 10px var(--clr-white);
    font-weight: bold;
}

