@import "../constantsCSS.css";

#signinSignUpIntro-back-icon {

    width: 70px;
    height: 70px;
    position: fixed;
    top: 10px;
    right: 400px;
    color: var(--clr-yellow);
    background-color: var(--clr-white);
    transform: rotate(169deg);
    border-radius: 15%;
}

#signinSignUpIntro-back-icon:hover {

    cursor: pointer;
    width: 70px;
    height: 70px;
    position: fixed;
    top: 10px;
    right: 400px;
    color: var(--clr-white);
    background-color: var(--clr-yellow);
    transform: rotate(168deg);
    border-radius: 15%;
    box-shadow: 0 0 10px var(--clr-yellow);
}

#signinSignupForm-back-icon {

    width: 70px;
    height: 70px;
    position: fixed;
    top: 10px;
    right: 10px;
    color: var(--clr-white);
    background-color: var(--clr-yellow);
    transform: rotate(180deg);
    border-radius: 15%;
}

#signinSignupForm-back-icon:hover {

    cursor: pointer;
    width: 70px;
    height: 70px;
    position: fixed;
    top: 10px;
    right: 10px;
    color: var(--clr-yellow);
    background-color: var(--clr-white);
    transform: rotate(180deg);
    border-radius: 15%;
    box-shadow: 0 0 10px var(--clr-yellow);
}

#signinSignUpIntro-home-icon {

    width: 70px;
    height: 70px;
    position: fixed;
    top: 25px;
    right: 480px;
    color: var(--clr-yellow);
    background-color: var(--clr-white);
    transform: rotate(-10deg);
    border-radius: 15%;
    border: 2px solid var(--clr-black);
}

#signinSignUpIntro-home-icon:hover {

    width: 70px;
    height: 70px;
    position: fixed;
    top: 25px;
    right: 480px;
    color: var(--clr-white);
    background-color: var(--clr-yellow);
    transform: rotate(-10deg);
    border-radius: 15%;
    border: 2px solid var(--clr-black);
    background-color: var(--clr-yellow);
    box-shadow: 0 0 10px var(--clr-yellow);
}

#signinSignUpForm-home-icon {

    width: 70px;
    height: 70px;
    position: fixed;
    top: 10px;
    right: 90px;
    color: var(--clr-yellow);
    background-color: var(--clr-white);
    border-radius: 15%;
    border: 2px solid var(--clr-black);
}

#signinSignUpForm-home-icon:hover {

    width: 70px;
    height: 70px;
    position: fixed;
    top: 10px;
    right: 90px;
    color: var(--clr-white);
    background-color: var(--clr-yellow);
    border-radius: 15%;
    border: 2px solid var(--clr-black);
    background-color: var(--clr-yellow);
    box-shadow: 0 0 10px var(--clr-yellow);
}

.form-img {

    width: 40px;
    height: 40px;
}

#personalDetailsCard-img {

    width: 200px;
    height: 200px;
    margin-top:130px ;
}

#personalDetailsCard-gender-div {

    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0px;
    left: 200px;
}

.personalDetailsCard-icon {

    width: 70px;
    height: 70px;
}



