
#logo-img {

    background-color: black;
    position: fixed;
    top: 20px;
    left: 190px;
    width: 100px;
    height: 100px;
}





#layer-img {

    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    position: fixed;
    background-color: white;
}

img#layer-img:nth-child(1) {

    top: 150px;
    left: 50px;
}

img#layer-img:nth-child(2) {

    top: 100px;
    left: 200px;
}

img#layer-img:nth-child(3) {

    top: 50px; /**/
    left: 1100px;
    width: 60px;
    height: 60px;
}

img#layer-img:nth-child(4) {

    top: 500px; /**/
    left: 800px;
    width: 80px;
    height: 80px;

}

img#layer-img:nth-child(5) {

    top: 350px;
    left: 700px;
    width: 40px;
    height: 40px;
    /* background-color: red; */

}

img#layer-img:nth-child(6) {

    top: 100px;
    left: 1200px;
  
}

img#layer-img:nth-child(7) {

    top: 120px;
    left: 480px;
}

img#layer-img:nth-child(8) {

    top: 520px;
    left: 350px;
}
