@import "../constantsCSS.css";

#signinSignUpIntro-back-icon {

    width: 70px;
    height: 70px;
    position: fixed;
    top: 10px;
    right: 400px;
    background-color: white;
    transform: rotate(169deg);
    border-radius: 15%;
}

#signinSignUpIntro-back-icon:hover {

    cursor: pointer;
    width: 70px;
    height: 70px;
    position: fixed;
    top: 10px;
    right: 400px;
    background-color: white;
    transform: rotate(168deg);
    border-radius: 15%;
    background-color: var(--clr-yellow);
    box-shadow: 0 0 10px var(--clr-yellow);
}

#signinSignupForm-back-icon {

    width: 70px;
    height: 70px;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: white;
    transform: rotate(180deg);
    border-radius: 15%;
}

#signinSignupForm-back-icon:hover {

    cursor: pointer;
    width: 70px;
    height: 70px;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: white;
    transform: rotate(180deg);
    border-radius: 15%;
    background-color: var(--clr-yellow);
    box-shadow: 0 0 10px var(--clr-yellow);
}

#signinSignUpIntro-home-icon {

    width: 70px;
    height: 70px;
    position: fixed;
    top: 25px;
    right: 480px;
    background-color: white;
    transform: rotate(-10deg);
    border-radius: 15%;
    border: 2px solid var(--clr-black);
}

#signinSignUpIntro-home-icon:hover {

    width: 70px;
    height: 70px;
    position: fixed;
    top: 25px;
    right: 480px;
    background-color: white;
    transform: rotate(-10deg);
    border-radius: 15%;
    border: 2px solid var(--clr-black);
    background-color: var(--clr-yellow);
    box-shadow: 0 0 10px var(--clr-yellow);
}

#signinSignUpForm-home-icon {

    width: 70px;
    height: 70px;
    position: fixed;
    top: 10px;
    right: 90px;
    background-color: white;
    border-radius: 15%;
    border: 2px solid var(--clr-black);
}

#signinSignUpForm-home-icon:hover {

    width: 70px;
    height: 70px;
    position: fixed;
    top: 10px;
    right: 90px;
    background-color: white;
    border-radius: 15%;
    border: 2px solid var(--clr-black);
    background-color: var(--clr-yellow);
    box-shadow: 0 0 10px var(--clr-yellow);
}

.form-img {

    width: 40px;
    height: 40px;
}
