.modal {
  
    background: #fff;
    color: #222;
    border-radius: 0.25rem;
    width: 1200px;
    height: 450px;
    position:absolute;
    top: 151px; 
    left: 50px;
  }
  
  .modal::backdrop {

    background: rgb(0 0 0 / 0.5);
    opacity: 0;
  }
  
  .modal[open] {

    animation: slide-up 1000ms forwards, fade-in 500ms forwards;
  }

  .modal[open]::backdrop {

    animation: fade-in 500ms forwards;
  }
  
  .modal[closing] {

    animation: fade-out 500ms forwards;
  }
  
  .modal[closing]::backdrop {

    animation: fade-out 500ms forwards;
  }
  
  @keyframes fade-in {

    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {

    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
    

  
