
* {
  
  /* overflow: hidden; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.swiper-section {

  position: relative;
  top: 100px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--clr-white);
  color: var(--clr-black);
}

.swiper-container {

  position: absolute;
  top: 50px;
  width: 100%;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--clr-yellow);
  background-color:  var(--clr-white);
  border: 3px solid var(--clr-yellow);
}

.swiper-slide { /* The card itself */

  clip-path: polygon(0 0, 100% 0, 85% 50%, 100% 99%, 45% 100%, 0 75%);

  background-position: center;
  background-size: cover;
  width: 320px;
  height: 400px;
  background: var(--clr-black);
  opacity: 0.9;
  box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  border: 5px solid var(--clr-yellow);
  /* filter: blur(4px); */
  /* border-radius: 10px; */
}

.swiper-slide-active { /* The card itself */

  /* filter: blur(0px); */
}





























