
* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.swiper-section {

  position: relative;
  top: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: brown;
}

.swiper-container {
    
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 3px solid blue;

}

.swiper-slide { /* The card itself */

background-position: center;
background-size: cover;
width: 300px;
height: 400px;
background: var(--clr-white);
box-shadow: 0 15px 50px rgba(0,0,0,0.2);
filter: blur(4px);
border-radius: 10px;
}

.swiper-slide-active { /* The card itself */

  filter: blur(0px);
  }























