@import "../constantsCSS.css";



/******************************* 'Home' Page ********************************/

#home-logo-p1 {

    color: var(--clr-white);
    font-size: 12em;
    padding: 0;
    display: inline-block;
    text-align: center;
    margin-left: 20px;
    font-family: var(--clr-fat-font);
    background-color: var(--clr-yellow);
}

#home-logo-p2 {

    color: var(--clr-white);
    font-size: 12em;
    padding: 0;
    display: inline-block;
    text-align: center;
    margin: 0;
    font-family: var(--clr-thin-font);
    text-shadow: 0 0 10px var(--clr-yellow), 0 0 40px var(--clr-yellow);
}

#home-snd-title {

    color: var(--clr-white);
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    font-family: var(--clr-script-font);
    transform: rotate(-32deg);
}


/******************************* 'Login' Page ********************************/

#login-logo-p1 {
    
    color: var(--clr-white);
    font-size: 5em;
    padding: 0;
    display: inline-block;
    text-align: center;
    margin-left: 20px;
    font-family: var(--clr-fat-font);
    background-color: var(--clr-yellow);
}

#login-logo-p2 {

    color: var(--clr-white);
    font-size: 5em;
    padding: 0;
    display: inline-block;
    text-align: center;
    margin: 0;
    font-family: var(--clr-thin-font);
    text-shadow: 0 0 10px var(--clr-yellow), 0 0 40px var(--clr-yellow);
}

#login-title {

    color: var(--clr-yellow);
    font-size: 6em;
    margin: 0;
    padding: 0;
    font-family: var(--clr-thin-font);
    transform: rotate(15deg);
    cursor: pointer;
    background-color: var(--clr-white);
}

#login-title:hover {

    color: var(--clr-yellow);
    font-size: 6em;
    margin: 0;
    padding: 0;
    font-family: var(--clr-thin-font);
    transform: rotate(15deg);
    cursor: pointer;
    background-color: var(--clr-white);
    text-shadow: 0 0 3px var(--clr-white);
}

#login-snd-title {

    color: var(--clr-white);
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    font-family: var(--clr-script-font);
    transform: rotate(15deg);
}



