
#home-title-p1 {

    position: relative;
    color: #fff;
    font-size: 12em;
    margin: 0;
    padding: 0;
    width: 400px;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    text-align: center;
    height: 180px;
    text-shadow: 0 0 10px hsl(9, 100%, 64%), 0 0 40px hsl(9, 100%, 64%), 0 0 80px hsl(9, 100%, 64%);

}

#home-title-p2 {

    position: relative;
    color: #fff;
    font-size: 10em;
    margin: 0;
    padding: 0;
    height: 180px;
    font-family: 'Bebas Neue', cursive;
    width: 400px;
    display: inline-block;
    text-align: center;
    text-shadow: 0 0 10px hsl(9, 100%, 64%), 0 0 40px hsl(9, 100%, 64%), 0 0 80px hsl(9, 100%, 64%);
}


#home-snd-title {

    color: #fff;
    font-size: 3em;
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
}