.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body{

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: lightgrey;
}

.box{

  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  /*set the speed*/
  animation: animate 60s linear infinite;
}

/* To stop the movment */
@keyframes animate1 {

  0%{

    transform: perspective(3000px) rotateY(0deg);
  }
  100%{

    transform: perspective(3000px) rotateY(0deg);
  } 
}

/*'deg': set the cycle, 'px': distance from screen*/
@keyframes animate {

  0%{

    transform: perspective(3000px) rotateY(0deg);
  }
  100%{

    transform: perspective(3000px) rotateY(360deg);
  } 
}

.box span{

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  -webkit-box-reflect: below -65px linear-gradient(transparent, transparent, #0004) ;
}

.box span img{

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  object-fit: cover;
}








