body, html{
	margin: 0;
	padding: 0;
}

#myMainGridContainer{
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-template-rows: repeat(5,1fr);
	gap: 10px;
	margin: 10px;
	width: 100vh;
	height: 90vh;
}

div{
	text-align: center;
	font-size: 50px;
	color: white;
}

.span2RowsDown{
	grid-row: auto / span 2;
}

.span2ColsRight{
	grid-column: auto / span 2;
}

.span3RowsDown{
	grid-row: auto / span 3;
}

#myMainGridContainer div:nth-child(1){
	background-color: #AA3939;
} 

#myMainGridContainer div:nth-child(2){
	background-color: #AF005C;
} 

#myMainGridContainer div:nth-child(3){
	background-color: #8A0DB2;
} 

#myMainGridContainer div:nth-child(4){
	background-color: #5A16B5;
} 

#myMainGridContainer div:nth-child(5){
	background-color: #B4543D;
} 

#myMainGridContainer div:nth-child(6){
	background-color: #B4843D;
}

#myMainGridContainer div:nth-child(7){
	background-color: #B4723D;
} 

#myMainGridContainer div:nth-child(8){
	background-color: #3F1CB8;
} 


