html, body{

    background-color: #303E73;
}

#appTitle{

    font-size: 80px;
    color: azure;
}

#searchingInput{

    width: 250px;
    height: 50px;
    font-size: 20px;
    border: 0px;
    border-bottom: 2px solid white;
    background-color: #303E73;
    color: aliceblue;
}

#submitBtt{

    width: 100px;
    height: 50px;
    border-radius: 5%;
}