body, html{
	margin: 0;
	padding: 0;
	color: white;
}

.bg-lightBlue{
	background-color: #323776;
}

.tx-lightBlue{
	color: #323776;
}

.tx-pruple{
	color: #512C73;
}

.tx-yellow{
	color: #FFFC03;
}

.bg-pruple{
	background-color: #512C73;
}

.bg-lightGrey{
	background-color: #ABABAB;
}

.bg-pink{
	background-color: #E70F2D;
}

.tx-pink{
	color: #E70F2D;
}

.bg-turquoise{
background-color: #468C77;
}

.bg-yellow{
	background-color: #FFFC03;
}

.tx-turquoise{
	color: #468C77;
}

.specialFont{
	font-family: 'Montserrat', sans-serif;
}

.specialFont1{
	font-family: 'Licorice', cursive;
	letter-spacing: 2px;
}

.verticalHeader{
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	text-shadow: 2px 2px 4px #000000;
	-webkit-text-stroke: 0.4px ghostwhite;
	font-size: 40px;
}

.jumbotron{
  position: relative;
  overflow: hidden; 
}

.jumbotron video{
  position: absolute;
  z-index: 1;
  top: 0;
  width:100%;
  height:100%;
  object-fit: cover;
}

.jumbotron .container-fluid{
  z-index: 2;
  position: relative;
}

#myImg{
	height: 31vh;
	float: left;
	shape-outside: circle(30%);
}

.mainHeaderFont{
	font-size: 100px;
}

.text-shadow{
		text-shadow: 2px 2px 4px #000000;
}

.centerTextAlign{
	text-align: center;
}

.btn-outline-light{
    color: #fbfbfb;
    border-color: #fbfbfb;
}

div#aboutMeDescription ul{
	list-style: none; /* Remove default bullets */
}

div#aboutMeDescription ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: red; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
  color: white;
  font-size: 30px;
}


#portfolioImage{
	height: 40vh;
	opacity: 0.8;
	background-color: #555794;
}

#blogImage{
	height: 40vh;
	opacity: 0.8;
	background-color: #512C73;
}

#teamImage{
	height: 40vh;
	opacity: 0.8;
	background-color: #468C77;
}

#contactImage{
	height: 40vh;
	opacity: 0.8;
	background-color: #FFFC03;
	opacity: 0.7;
}
  
#myImgsGridContainer{
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-template-rows: repeat(5,1fr);

	gap: 10px;
	margin: 10px;
	width: 100vh;
	height: 75vh;
}

section#myImgsGridContainer div{
	border: 3px solid white;
	text-align: center;
	font-size: 50px;
	color: white;
	transition:all 0.5s ease; /*1.WHICH PROPERTIES. 2.SPEED. 3.ACCELERATION(HERE: DEFAULT)*/
}

/*GROW - enlarge: greater than 1, to shrink: less than 1*/
.grow:hover
{
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.span2RowsDown{
	grid-row: auto / span 2;
}

.span2ColsRight{
	grid-column: auto / span 2;
}

.span3RowsDown{
	grid-row: auto / span 3;
}

.gridImg{
	width: 100%;
	height: 100%;
}

.carousel-item img{
	width: 50vw;
	height: 80vh;
}









































